.Item {
  justify-content: space-between;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(0,0,0, 0.4);
  border-left: none;
  border-right: none;
  background-color: white;
}

.Item:hover {
  background-color: rgba(0,0,0, 0.1)
}

.id {
  height: 30px;
  width: 50px;
  border-right: 1px solid grey;
  font-size: 13px;
}

.group {
  justify-content: space-evenly;
  height: 95%;
}

.edit_icon svg {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.trash_icon svg {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .Item {
    height: 100px;
  }
  .group {
    flex-direction: column;
  }
}
